<div class="row">
    Link de migraciones para ver el mapa de marinillos que han migrado hacia otros paises por temas académicos
    <center>
        <iframe class="iframe-class" src ="{{ site.baseurl }}/assets/pages/marinillos.html"></iframe>
    </center>
    
    <br/>
    <h2> Tablero de Normativas ambientales</h2>
    <div class="youtube-wrapper">
        <center>
            <iframe class="iframe-class" title="Normativa" src="https://app.powerbi.com/view?r=eyJrIjoiNjhmZjlhZjktMTk1Yy00N2RjLWIyZGUtOTMwZWFjOGQ4NjE2IiwidCI6Ijk5ZTFlNzIxLTcxODQtNDk4ZS04YWZmLWIyYWQ0ZTUzYzFjMiIsImMiOjR9" frameborder="0" allowFullScreen="true" ></iframe>
        </center>
    </div>
</div>