<!--Monografia-->
<div class="highlight" style="min-height: 32rem;">
<center>
    <h1><b> Estudio Monográfico </b></h1>
    <h2><b>  Marinilla 1967-2014 </b></h2>


    <div class="row">
    {%- assign pdfs = site.static_files | where_exp: "file", "file.path contains 'monografia'" -%}  
    {% for pdf in pdfs %}
        <div class="column-2">
        <div class="flex-container">
            <div class="card" style="width: 100%; min-height: 20rem;">
            <a href="{{site.baseurl}}{{ pdf.path }}"><img src="{{site.baseurl}}/assets/img/img_mono/imagen_mono.png"></a>
            <div class="container">
                <h4><b>{{ pdf.basename | slice: 0,120 }}
                {% if pdf.basename.size > 120  %}...{% endif %}
                </b></h4>
                <p> <button style="margin:0px"><a href="{{site.baseurl}}{{ pdf.path }}">Archivo</a></button></p>
            </div>  
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    </center>
    <br>
</div>
    
<!--Inventario del patrimonio cultural e inmaterial-->
<div class="highlight" style="min-height: 40rem;">
<center>
    <h1><b> Inventario del patrimonio cultural e inmaterial de Marinilla </b></h1>

    <div class="row">
    {%- assign pdfs = site.static_files | where_exp: "file", "file.path contains 'icpa'" -%}  
    {% for pdf in pdfs %}
        <div class="column-2">
        <div class="flex-container">
            <div class="card" style="width: 100%; min-height: 30rem;">
            <a href="{{site.baseurl}}{{ pdf.path }}"><img src="{{site.baseurl}}/assets/img/img_pat/imagen_patri.png" style="width: 70%; height: 70;"></a>
            <div class="container">
                <h4><b>{{ pdf.basename | slice: 0,120 }}
                {% if pdf.basename.size > 120  %}...{% endif %}
                </b></h4>
                <p> <button style="margin:0px"><a href="{{site.baseurl}}{{ pdf.path }}">Archivo</a></button></p>
            </div>  
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    </center>
    <br>
</div>
    
<!--Tesis-->
<div class="highlight">
    <h1><b>Tesis </b></h1>
    <div class="row">
    {%- assign pdfs = site.static_files | where_exp: "file", "file.path contains 'Tesis'" -%}  
    {% for pdf in pdfs %}
        <div class="column">
            <div class="card" style="width: 100%; min-height: 17rem;">
                <h4>{{ pdf.basename | slice: 0,120 }}
                {% if pdf.basename.size > 120  %}...{% endif %}
                </h4>
                <p>Leer <a href="{{site.baseurl}}{{ pdf.path }}">Archivo</a>.</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
    
<!--Artículos-->
<div class="highlight">
    <h1><b>Artículos </b></h1>
    <div class="row">
    {%- assign pdfs = site.static_files | where_exp: "file", "file.path contains 'Articulos'" -%}  
    {% for pdf in pdfs %}
        <div class="column">
        <div class="card" style="width: 100%; min-height: 17rem;">
            <h4>{{ pdf.basename | slice: 0,120 }}
            {% if pdf.basename.size > 120  %}...{% endif %}
            </h4>
            <p>Leer <a href="{{site.baseurl}}{{ pdf.path }}">Archivo</a>.</p>
        </div>
        </div>
    {% endfor %}
    </div>
</div>

<!--Libros-->
<div class="highlight">
    <h1><b>Libros </b></h1>
    <div class="row">
        {%- assign pdfs = site.static_files | where_exp: "file", "file.path contains 'Libros'" -%}  
        {% for pdf in pdfs %}
            <div class="column">
            <div class="card" style="width: 100%; min-height: 17rem;">
                <h4>{{ pdf.basename | slice: 0,120 }}
                {% if pdf.basename.size > 120  %}...{% endif %}
                </h4>
                <p>Leer <a href="{{site.baseurl}}{{ pdf.path }}">Archivo</a>.</p>
            </div>
            </div>
        {% endfor %}
    </div>
</div>

<!--Otros-->
<div class="highlight">
    <h1><b>Otros </b></h1>
    <div class="row">
        {%- assign pdfs = site.static_files | where_exp: "file", "file.path contains 'Otros'" -%}  
        {% for pdf in pdfs %}
            <div class="column">
            <div class="card" style="width: 100%; min-height: 17rem;">
                <h4>{{ pdf.basename | slice: 0,120 }}
                {% if pdf.basename.size > 120  %}...{% endif %}
                </h4>
                <p>Leer <a href="{{site.baseurl}}{{ pdf.path }}">Archivo</a>.</p>
            </div>
            </div>
        {% endfor %}
    </div>
</div>