---

---

@import "minima";

body {
  background-image: url("fondoPagina.svg");
  background-size: cover;
  background-repeat: no-repeat;

  background-position: 80% 100%;
}

h1 {
 // background-color: green;
  color: #8186ad;
}

/*GALERIA DE IMAGENES */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 200px;
}

img {
  //border: 1px solid #ddd;
  //border-radius: 4px;
  //padding: 5px;
  width: 70%;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  height: 150%;
  padding: 2%;
  //padding-left: 5%;
}

.column-2 {
  float: center;
  width: 30%;
  height: 300px;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#fff;
}

$brand-color:  rgb(128, 0, 17);

/*ANIMACIÓN*/
.ml1 {
  font-weight: 900;
  font-size: 5em;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

/* Galeria del home */

.section{
  width: 140%;
  height: 600px;
  display: flex;

  margin-top: -2.5%;
  margin-right: -17%;
  margin-bottom: auto;
  margin-left: -20%;
}
.section div img{
  flex-grow: 1;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out; 
}

.section div img:hover{
  opacity: 1;
  width: 200%;
  cursor: pointer;
  filter: saturate(120%);
  filter: contrast(120%);
  display: block;
}

.section div:hover {
  width: 35% !important;
  transition: 1s ease-in-out; 
}

/* Incluir videos de youtube */
.videocs {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.videocs video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  opacity: 1 !important;
}

.iframe-class{
  color: #29352e;
  width: 100%;
  min-height: 30rem;
}

.button {
  background-color: rgb(210, 168, 30) !important; 
}

article,
dialog,
fieldset {
 border:0 !important;
}


img,
 video {
  opacity:1 !important
 }

 .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 30%;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }