---
layout: default
---

<div class="section">
  {% for capitulo in site.data.inicio.capitulos %}
    <div style="width: 20%;">
      <img src="{{ site.baseurl}}/assets/img/galeria/{{capitulo.image}}" title="Espiral" style="height: 100%;">
      <div style="position: relative; top: -100px; right: -35%;">
        <a class="button" href="{{capitulo.path}}">{{capitulo.title}}</a>
      </div>
    </div>
  {% endfor %}
</div>

<br>

<div class="highlight">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
</div>
